replicaCount: 1

namespace: dip

image:
  registry: acr.aishu.cn
  repository: dip/data-retrieval
  tag: 0.2.0
  pullPolicy: IfNotPresent
ports:
  apiPort: 9100

env:
  devicecode: ""

nodeSelector: {}

depServices:
  opensearch:
    read: "opensearch-read"
    write: "opensearch-write"
    host: "opensearch-master"
    port: "9200"
    user: "admin"
    password: ""
  redis:
    connectType: sentinel
    enableSSL: false
    connectInfo:
      username: root
      password: ""
      host: ""
      port: 26379
      masterHost: ""
      masterPort: 26379
      slaveHost: ""
      slavePort: 26379
      sentinelHost: proton-redis-proton-redis-sentinel.resource.svc.cluster.local
      sentinelPort: 26379
      sentinelUsername: root
      sentinelPassword: ""
      masterGroupName: mymaster
      poolSize: 10
    secretName: ""
    caName: ""
    certName: ""
    keyName: ""
  hydra:
    publicHost: "hydra-public"
    publicPort: "4444"
    administrativeHost: "hydra-admin"
    administrativePort: "4445"
  user_management:
    publicHost: "user-management-public"
    publicPort: "30980"
    privateHost: "user-management-private"
    privatePort: "30980"
  mf_model_api:
    privateHost: mf-model-api
    privatePort: 9898
    embeddingUrl: "http://mf-model-api:9898/api/private/mf-model-api/v1/small-model/embedding"
    embeddingDimension: 768
    rerank_url: "http://mf-model-api:9898/api/private/mf-model-api/v1/small-model/reranker"
    rerank_model: "reranker"


appConfig:
  agent:
    modelType: "default"
    agentMaxIterations: 20
    agentMaxExecutionTime: 600
    showOldThinkContent: false
  agentSession:
    agentSessionType: "redis"
    agentSessionHistoryNumLimit: 10
    agentSessionHistoryMax: 5000
  agentLLM:
    modelName: ""
    openaiApiKey: "EMPTY"
    openaiAPIBase: ""
    ScratchpadRoundLimit: 0
  toolSettings:
    indicatorRecallTopK: 5
    indicatorRewriteQuery: false
    text2MetricModelType: "default"
    text2MetricDimensionNumLimit: 30
    text2sqlModelType: "default"
    text2sqlRecallTopK: 5
    text2sqlRewriteQuery: false
    text2sqlForceLimit: 200
    showSqlGraph: false
    returnRecordLimit: 100
    returnDataLimit: 5000
    codeRunnerOutputLimit: 2000
    codeRunnerOutputLinesLimit: 10
    cacheSizeLimit: 2000
  toolLLM:
    modelName: ""
    openaiApiKey: "EMPTY"
    openaiAPIBase: ""
  rerank_llm_model:
    name: ""


resources:
  requests:
    cpu: 500m
    memory: 500Mi
  limits:
    cpu: 1
    memory: 1Gi