# 1. app相关
app:
  debug: false
  host_ip: "0.0.0.0"
  port: 30778
  host_prefix: "/api/agent-executor/v1"
  host_prefix_v2: "/api/agent-executor/v2"
  rps_limit: 100
  enable_system_log: true
  log_level: "info"
  enable_dolphin_agent_verbose: false
  is_print_last_commit_info: true
  log_conversation_session_init: false
  is_write_exception_log_to_file: false


# 2. redis数据库相关
redis:
  # 连接类型: standalone, sentinel, master-slave
  cluster_mode: "standalone"
  # sentinel模式配置
  host: "localhost"
  port: "6379"
  user: ""
  password: ""
  sentinel_master: "mymaster"
  sentinel_user: ""
  sentinel_password: ""

# 3. 依赖的服务地址
services:
  mf_model_factory:
    host: "mf-model-factory"
    port: "9898"
  mf_model_manager:
    host: "mf-model-manager"
    port: "9898"
  mf_model_api:
    host: "mf-model-api"
    port: "9898"
  agent_app:
    host: "agent-app"
    port: "30777"
  agent_factory:
    host: "localhost"
    port: "13020"
  agent_operator_integration:
    host: "agent-operator-integration"
    port: "9000"
  agent_memory:
    host: "agent-memory"
    port: "30790"

# 依赖的外部接入的服务
external_services:
  emb_url: ""
  embedding_dimension: 768
  rerank_url: ""

# 4. 记忆相关
memory:
  limit: 50
  threshold: 0.5
  rerank_threshold: 0.1

# 5. 文档问答相关
document:
  enable_sensitive_word_detection: false

# 6. 一些特性控制
features:
  use_explore_block_v2: true
  disable_dolphin_sdk_llm_cache: false
  enable_dolphin_agent_output_variables_ctrl: false
  is_skill_agent_need_progress: false

# 7. o11y 相关
o11y:
  log_enabled: false
  trace_enabled: false

# 8. 对话日志相关配置
dialog_logging:
  enable_dialog_logging: false
  use_single_log_file: false
  single_profile_file_path: "./data/dialog_single_file_logs/profile.log"
  single_trajectory_file_path: "./data/dialog_single_file_logs/trajectory.log"



local_dev:
  do_not_init_built_in_agent_and_tool: true